<mat-stepper [linear]="true" #stepper>
  <!-- Step 1 : Name, Description -->
  <mat-step [stepControl]="generalInfo">
    <form [formGroup]="generalInfo">
      <ng-template matStepLabel>Name, description</ng-template>
      <div class="vertical-align">

        <!-- Name -->
        <mat-form-field class="general-info">
          <input matInput placeholder="Name" formControlName="name" required>
          @if (generalInfo.get('name')?.invalid) {
            <mat-error>Execution name</mat-error>
          }
        </mat-form-field>

        <!-- Description -->
        <mat-form-field class="general-info">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>

      </div>
      <!-- Next -->
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2: Selection des taskTemplates -->
  <mat-step [stepControl]="taskSelection" label="Task selection">
    <form [formGroup]="taskSelection">
      <app-task-template-selection [categorySignal]="'system'"
                                   (selectionChanged)="onSelectionChanged($event)"></app-task-template-selection>

      <!-- Next -->
      <div class="stepper-next">
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 3: Paramétrage -->
  <mat-step [stepControl]="taskParams" label="Parameters">
    <form [formGroup]="taskParams">
      <app-task-parameters
        [execution]="execution"
      >
      </app-task-parameters>
      <!-- Next -->
      <div>
        <button mat-button matStepperPrevious>Previous</button>
        @if (hasSelectedTask()) {
          <button mat-button matStepperNext>Next</button>
        }
      </div>
    </form>
  </mat-step>

  <!-- Step 4: Fin -->
  <mat-step [stepControl]="taskParams" label="End: Sythesis">
    <form [formGroup]="taskParams">
      <app-task-confirmation [execution]="execution">
      </app-task-confirmation>
      <!-- Next -->
      <div>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button (click)="createExecution()">Create</button>
      </div>
    </form>
  </mat-step>

</mat-stepper>
