<mat-stepper [linear]="true" #stepper>
  <!-- Step 1 : Nom, Description -->
  <mat-step [stepControl]="generalInfo">
    <form [formGroup]="generalInfo">
      <ng-template matStepLabel>Nom, description</ng-template>
      <div class="vertical-align">
        <!-- Name -->
        <mat-form-field class="general-info">
          <input matInput placeholder="Nom" formControlName="name" required>
          @if (generalInfo.get('name')?.invalid) {
            <mat-error>Saisir un nom de test</mat-error>
          }
        </mat-form-field>
        <!-- Description -->
        <mat-form-field class="general-info">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
      </div>
      <!-- Next -->
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 2: Selection des scenarios -->
  <mat-step [stepControl]="testSelection" label="Sélection des tests">
    <form [formGroup]="testSelection">
      <app-test-selection [prioriteSignal]="1" (selectionChanged)="onSelectionChanged($event)"></app-test-selection>
      <app-test-selection [prioriteSignal]="2" (selectionChanged)="onSelectionChanged($event)"></app-test-selection>
      <app-test-selection [prioriteSignal]="3" (selectionChanged)="onSelectionChanged($event)"></app-test-selection>
      <!-- Next -->
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 3: Paramétrage -->
  <mat-step [stepControl]="testParams" label="Ajout des références">
    <form [formGroup]="testParams">
      <app-test-parameters
        [testName]="generalInfo.get('name')?.value"
        [testDescription]="generalInfo.get('description')?.value"
        [testMap]="_nrTestsMap"
      >
      </app-test-parameters>
      <!-- Next -->
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 4: Fin -->
  <mat-step [stepControl]="testParams" label="Fin: Récapitulatif">
    <form [formGroup]="testParams">
      <app-test-confirmation
        [testName]="generalInfo.get('name')?.value"
        [testDescription]="generalInfo.get('description')?.value"
        [testMap]="_nrTestsMap"
      >
      </app-test-confirmation>
      <!-- Next -->
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button (click)="launchExecution()">Lancer</button>
      </div>
    </form>
  </mat-step>

</mat-stepper>
