<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ testName }}</mat-card-title>
    <mat-card-subtitle>{{ testDescription }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div *ngFor="let mapItem of testMap | keyvalue" class="test-params">
      <div>
        <mat-label style="font-size: 18px;font-weight: bold;">
          [{{ mapItem.value.reference }}] {{ mapItem.value.titre }}
        </mat-label>
      </div>
      <div class="test-params-description">
        <mat-label>{{ mapItem.value.description }}</mat-label>
      </div>
      <div *ngFor="let param of mapItem.value.params">
        <mat-label>- {{ param }}</mat-label>
      </div>
    </div>

  </mat-card-content>
</mat-card>
