<div class="test-params">
  <form [formGroup]="form">
    <div>
      <mat-label style="font-size: 18px;font-weight: bold;">
        [{{ nrTest.reference }}] {{ nrTest.titre }}
      </mat-label>
    </div>
    <div class="test-params-description">
      <mat-label>{{ nrTest.description }}</mat-label>
    </div>
    <div formArrayName="params">
      <div *ngFor="let param of params.controls; index as i">
        <mat-form-field class="test-description">
          <mat-label>Référence</mat-label>
          <input type="Référence" matInput [formControlName]="i">
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-flat-button class="create-button" (click)="addParam()" class="test-params-button">
    Ajouter une référence
  </button>
  <button mat-flat-button class="create-button" (click)="removeParam()" class="test-params-button">
    Enlever
  </button>
</div>
